/*
AT3
Robert Sewell
P214430
26/05/2025
*/

/* CSS styles page for Blue Springs Hotel website */

html, body {
    margin: 0;
    padding: 0;
    background-color: #8AA5B1;
}

.main-grid-container {
    display: grid;
    grid-template-columns: [col1-start] 1fr [col1-end col2-start] 2fr [col2-end col3-start] 1fr [col3-end end];
    grid-template-rows: [row1-start] 1fr [row1-end row2-start] 1fr [row2-end row3-start] 6fr [row3-end row4-start] 4fr [row4-end];
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    height: auto;
}

.main-grid-title {
    grid-column-start: col2-start;
    grid-column-end: col2-end;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
    justify-self: stretch;
    align-self: stretch;
    text-align: center;
    /* background-color: #1BB9E4; */
}

.main-grid-navbar {
    grid-column-start: col1-start;
    grid-column-end: col3-end;
    grid-row-start: row2-start;
    grid-row-end: row2-end;
    justify-self: stretch;
    align-self: stretch;
    text-align: center;
}

.main-grid-content {
    grid-column-start: col1-start;
    grid-column-end: col3-end;
    grid-row-start: row3-start;
    grid-row-end: row3-end;
    justify-self: stretch;
    align-self: stretch;
    text-align: center;
}

.sub-grid-left {
    grid-column-start: col1-start;
    grid-column-end: col1-end;
    grid-row-start: row3-start;
    grid-row-end: row3-end;
}

.sub-grid-mid {
    grid-column-start: col2-start;
    grid-column-end: col2-end;
    grid-row-start: row3-start;
    grid-row-end: row3-end;
}

.sub-grid-right {
    grid-column-start: col3-start;
    grid-column-end: col3-end;
    grid-row-start: row3-start;
    grid-row-end: row3-end;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-prime {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
    margin: 0px;
    top: 0;
    left: 0;
    right: 0;
    border-top: 2px solid black;
}

.nav-li {
    padding: 0;
    background-color: #235789;
    border-bottom: solid 2px black;
    min-width: auto;
    min-height: 35px;
    max-width: stretch;
    flex-grow: 1;
}

li a {
    display: flex;
    color: white;
    text-align: left;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #235789;
    float: right;

}

li a:hover {
    background-color: #8AA5B1;
}

.active {
    background-color: #2A2AA8;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#nav-mm-icon {
    max-width: 50px;
    justify-content: center;
    align-items: center;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}

