/*
AT3
Robert Sewell
P214430
26/05/2025
*/

/* CSS styles page for Blue SPrings Hotel website */

ul {
    list-style: none;
}

.nav-prime {
    display: flex;
    flex-direction: row;

}

.nav-li {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: #235789;
    border-right: solid 2px black;
    border-top: solid 2px black;
    border-bottom: solid 2px black;


}