/*
AT3
Robert Sewell
P214430
26/05/2025
*/

/* CSS styles page for Blue Springs Hotel website */

html, body {
    margin: 0;
    padding: 0;
    background-color: #8AA5B1;
}

.roboto-font-title {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-shadow: -1px 1px #E5E3D9, 1px -1px #E5E3D9, -1px -1px #E5E3D9, 1px 1px #E5E3D9;
}

.roboto-font-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-grid-container {
    display: grid;
    grid-template-columns: [col1-start] 1fr [col1-end col2-start] 3fr [col2-end col3-start] 1fr [col3-end end];
    grid-template-rows: [row1-start] 80px [row1-end row2-start] 90px [row2-end row3-start] auto [row3-end];
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    height: auto;
}

.main-grid-title {
    grid-column-start: col2-start;
    grid-column-end: col2-end;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
    justify-self: stretch;
    align-self: stretch;
    text-align: center;
    background-color: #1BB9E4;
}

.main-grid-title-logo {
    grid-column-start: col3-start;
    grid-column-end: col3-end;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
    justify-self: end;
    align-self: center;
}

.main-grid-title-background {
    grid-column-start: col1-start;
    grid-column-end: col3-end;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
    justify-self: stretch;
    align-self: stretch;
    background-color: #1BB9E4;
}

.main-grid-navbar {
    grid-column-start: col1-start;
    grid-column-end: col3-end;
    grid-row-start: row2-start;
    grid-row-end: row2-end;
    justify-self: stretch;
    align-self: stretch;
    text-align: center;
}

.main-grid-content {
    grid-column-start: col1-start;
    grid-column-end: col3-end;
    grid-row-start: row3-start;
    grid-row-end: auto;
    justify-self: stretch;
    align-self: stretch;
    text-align: center;
}

.main-grid-content-subgrid {
    grid-column-start: col1-start;
    grid-column-end: col3-end;
    grid-row-start: row3-start;
    grid-row-end: auto;
    justify-self: stretch;
    align-self: stretch;
    text-align: center;
    /* Sub-grid */
    display: grid;
    grid-template-columns: [scol1-start] 1fr [scol1-end scol2-start] 1fr [scol2-end scol3-start] 1fr [scol3-end end];
    grid-template-rows: [srow1-start] 200px [srow1-end srow2-start] 200px [srow2-end srow3-start] 200px [srow3-end srow4-start] 200px [srow4-end srow5-start] 200px [srow5-end];
}

.main-grid-form-container {
    grid-column-start: col1-start;
    grid-column-end: col3-end;
    grid-row-start: row3-start;
    grid-row-end: auto;
    display: grid;
    grid-template-columns: [fcol1-start] 1fr [fcol1-end fcol2-start] 1fr [fcol2-end end];
    grid-template-rows: [frow1-start] auto [frow1-end end];
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    width: auto;
    height: auto;
    /* border: 2px solid black; */
}

.main-grid-form-container-left {
    grid-column-start: fcol1-start;
    grid-column-end: fcol1-end;
    grid-row-start: frow1-start;
    grid-row-end: auto;
    justify-self: center;
    align-self: center;
    text-align: center;
    /* border: 2px solid black; */
}

.main-grid-form-container-right {
    grid-column-start: fcol2-start;
    grid-column-end: end;
    grid-row-start: frow1-start;
    grid-row-end: auto;
    justify-self: center;
    align-self: center;
    text-align: center;
    /* border: 2px solid black; */
}

.sub-grid-mid-col-left {
    display: grid;
    grid-column-start: scol2-start;
    grid-column-end: scol2-end;
    align-items: center;
    text-align: left;
}

.sub-grid-mid-col-right {
    display: grid;
    grid-column-start: scol2-start;
    grid-column-end: scol2-end;
    align-items: center;
    text-align: right;
}

.sub-grid-mid-col-mid {
    grid-column-start: scol2-start;
    grid-column-end: scol2-end;
    align-items: center;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.sub-grid-left-col {
    grid-column-start: scol1-start;
    grid-column-end: scol1-end;
    justify-self: right;
    margin-right: 15px;
}

.sub-grid-right-col {
    grid-column-start: scol3-start;
    grid-column-end: scol3-end;
    justify-self: left;
    margin-left: 15px;
}

.sub-grid-srow1 {
    grid-row-start: srow1-start;
    grid-row-end: srow1-end;
}

.sub-grid-srow2 {
    grid-row-start: srow2-start;
    grid-row-end: srow2-end;
}
.sub-grid-srow3 {
    grid-row-start: srow3-start;
    grid-row-end: srow3-end;
}

.sub-grid-srow4 {
    grid-row-start: srow4-start;
    grid-row-end: srow4-end;
}

.sub-grid-srow5 {
    grid-row-start: srow5-start;
    grid-row-end: srow5-end;
}

.main-grid-content-subgrid-int {
    grid-column-start: col1-start;
    grid-column-end: col3-end;
    grid-row-start: row3-start;
    grid-row-end: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-prime {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
    margin: 0px;
    top: 0;
    left: 0;
    right: 0;
    border-top: 2px solid black;
}

.nav-li {
    padding: 0;
    background-color: #235789;
    border-bottom: solid 2px black;
    min-width: auto;
    min-height: 35px;
    max-width: stretch;
    flex-grow: 1;
}

.nav-li-cap-left {
    border-left: solid 2px black;
}

.nav-li-cap-right {
    border-right: solid 2px black;
}

.active {
    background-color: #2A2AA8;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.staff-portrait {
    border: solid 2px black;
}

li a {
    display: flex;
    color: white;
    text-align: left;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #235789;
    float: right;
}

li a:hover {
    background-color: #8AA5B1;
}

#nav-mm-icon {
    max-width: 50px;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px black;
}

@media print {
    .nav {
        display: none;
    }
}

table {
    border: 1px solid;
    margin: 15px auto;
    max-width: 90%;
    width: auto;
}

tr {
    border: 2px solid;
}

.table-row-alt1:hover  {
    background-color: #E76F51;
}

.table-row-alt2:hover {
    background-color: #FFE066;
}

.table-row-head {
    font-size: larger;
    background-color: #1BB9E4;
}

.table-row-alt1 {
    background-color: #E5E3D9;
    border: 1px solid;
}

.table-row-alt2 {
    background-color: #b4dbe9;
    border: 1px solid;
}

video {
    width: 450px;
    border-radius: 25px;
}

iframe {
    width: 450px;
    height: 300px;
    border-radius: 25px;
}

article {
    margin: 30px;
}

label {
    background-color: white;
    font-size: 0.8em;
}

form {
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.5em;
}

.form-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 1px solid #333;
    padding: 1vw;
}

input {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    font-size: 1em;
    margin-bottom: 15px;
}

select {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    font-size: 1em;
    margin-bottom: 15px;
}

option {
    background-color: white;
    padding: 5px;
    font-size: 1em;
    margin-bottom: 15px;
}

textarea {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    font-size: 1em;
    min-width: auto;
    margin-bottom: 15px;
}

#submitButton {
    background-color: rgb(190, 190, 190);
}

#submitButton:hover {
    background-color: rgb(190, 190, 190);
    border: 1px solid darkgrey;
}

.title-label {
    font-size: 1.4em;
    font-weight: 600;
}

.comment-field {
    height: 100px;
}